<%- include("header") -%>
<%- include('nav') -%>



<div class="jumbotron m-5">
    <h1 class="mb-4 h1"><span class="text-success">Welcome</span> <%= locals.username %></h1>
    <p class="display-6">Anonymous Messaging made easy.<br>With <span class="text-danger">AnonymX</span>, you can send anonymous messages to any group.</p>
    <p class="display-6">Your Identity can not be revealed at any cost.</p>
    <p class="display-6 mt-5">Enjoy Your Day !!!</p>
    <!-- <p class="font-weight-normal display-6">Click on 'My Groups' to start a chat or click on 'Search Group' to join a new chat.</p>
    <br>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg mt-3" href="/mygroups" role="button">My Groups</a>
      <a class="btn btn-primary btn-lg mt-3 create-grp-btn" href="/createGroup" role="button">Create Group</a>
      <a class="btn btn-primary btn-lg mt-3 search-grp-btn" href="/searchGroup" role="button">Search Group</a>
    </p> -->
  </div>


  <%- include("footer") -%>