<%- include("header") -%>



<div class="jumbotron ms-3 ps-5 pe-5 pt-5 align-center">
    <h1 class="display-2 "><b>Welcome To <span class="text-danger">AnonymX</span></b></h1>
    <p class="lead  display-5">Want to say something<br> about someone, but anonymously ?</p>
    <hr class="my-4"><br><br>
    <p class="lead display-6">Here is the solution, Sign Up on AnonymX and start posting</p>
    <p class="lead">
      <a class="btn btn-dark btn-lg border-dark mt-3" href="/signup" role="button">Sign Up</a>
      <a class="btn btn-outline-dark btn-lg  border-dark ms-2 mt-3" href="/login" role="button">Log In</a>
    </p>
  </div>








<%- include("footer") -%>